.no-margin-padding {
    margin: 0;
    padding: 0;
}

#main-area {
    margin: 0;
    padding: 0;
    position: inherit;
    height: inherit;
    width: inherit;
    background-color: #333333;
}

/* Styling for top nav bar area*/
#top-nav-bar {
    margin: 0;
    padding: 0;
}

#dashboardBtn {
    border: none;
    border-radius: 0 0 0 0;
    background-color: #333333;
    color: white;
}

    #dashboardBtn:hover {
        border-radius: 0 0 0 0;
        background-color: white;
        color: black;
    }

/* Styling for the sidebar*/
#side-bar {
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 3px solid white;
}

#sidebar-profile {
    background-color: #bfbfbf;
}

#picSection {
    text-align: center;
    background-color: #bfbfbf;
    margin: 10px;
}

#profilepic1 {
    max-width: 100%;
}

#nameSection {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
}

.buttonLinks {
    color: #333333;
}

    .buttonLinks:hover {
        color: white;
    }

#sidebar-menu-options {
    margin: 20px;
    color: white;
}

    #sidebar-menu-options a {
        background-color: #bfbfbf;
        color: #333333;
    }

        #sidebar-menu-options a:hover {
            background-color: #333333;
            border: 1px solid white;
            color: white;
        }

#sidebar-submenu-options {
    margin: 20px;
    color: white;
}

    #sidebar-submenu-options a {
        background-color: white;
        color: #333333;
    }

        #sidebar-submenu-options a:hover {
            background-color: #333333;
            border: 1px solid white;
            color: white;
        }


/* Styling for the content area*/
#content-area {
    border-top: 3px solid white;
}

#increase-content-area.toggled { /* To increase content area when sidebar is hidden*/
    width: 100%;
}

#content-area-nav {
    background-color: #bfbfbf;
}

#sidebarToggleBtn {
    border-radius: 0 0 0 0;
    color: #333333;
    background-color: white;
    border: 2px solid gray;
}

    #sidebarToggleBtn:hover {
        border-radius: 0 0 0 0;
        color: white;
        background-color: #333333;
        border: 2px solid gray;
    }

#content-area-display {
    padding: 2px;
    background-color: white;
    margin-bottom: 5px;
}

/* Styling for card section */
#card-section {
}

#card-topnav {
    width: 100%;
    margin-top: 5px;
    padding-left: 20px;
}

#cards-display {
    margin: 20px;
    background-color: #bfbfbf;
    border-radius: 5px 5px 5px 5px;
}

#card {
    cursor: pointer;
    background-color: white;
    /*width: 250px;*/
    border-radius: 10px 10px 10px 10px;
    min-height: 175px;
    border: 3px solid #333333;
    text-align: center;
    margin: 5px;
}

    #card img {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80px;
    }

#dashboardCard {
    cursor: default;
    background-color: white;
    /*width: 250px;*/
    border-radius: 10px 10px 10px 10px;
    min-height: 175px;
    border: 3px solid #333333;
    text-align: center;
}

    #dashboardCard img {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 80px;
    }

.cardheaders {
    color: white;
    min-height: 35px;
    max-height: 35px;
    background-color: #333333;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding-top: 5px;
    word-wrap: break-word;
}

    .cardheaders a {
        color: white;
    }

.cardbody {
    min-height: 105px;
}


.cardfooters {
    color: white;
    min-height: 35px;
    background-color: #333333;
    border-radius: 0 0 5px 5px;
    padding-left: 10px;
    padding-top: 5px;
}

    .cardfooters a {
        background-color: #bfbfbf;
        margin-right: 5px;
    }

        .cardfooters a:hover {
            background-color: white;
        }

#footerText {
    padding-top: 10px;
    color: black;
    bottom: 0;
}

/* Styling for Store list section */
#list-section {
}

#list-topnav {
    padding: 3px;
}

#list-display {
    margin: 20px;
    background-color: #bfbfbf;
    border-radius: 5px 5px 5px 5px;
}

.table{
    width:98%;
    margin:1%;
}

.table-striped{
    background-color: white;
}

/* Styling for Category section */
#category-section {
}

#category-topnav {
    padding: 3px;
}

#category-display {
    padding: 3px;
}


/* Styling to cover all modal pop ups*/

.customModal {
    margin-top: 100px;
}

.modalHeader {
    border: 3px solid #333333;
    border-radius: 5px 5px 0 0;
    background-color: #bfbfbf;
    color: #333333;
    text-align: center;
}

.modalContent {
    border-top: 5px solid #333333;
    border-radius: 0 0 5px 5px;
    background-color: #333333;
}

.modalRow {
    margin: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}

.editTabs li {
    background-color: #bfbfbf;
    border-radius: 5px 5px 0 0;
}

    .editTabs li a {
        color: #333333;
    }

/* Used to highlight tags in addCatToShop section */
.selectTag {
    background-color: yellow;
    color: black;
}

.ignoreTag {
    background-color: grey;
    color: white;
}


/* Used for details page*/

#detailsImage {
    height: 150px;
}


/* Kisok map*/
#glKiosk{
    width:100%;
    height:100%;
}
