html, body{height:100%; margin:0;padding:0;}


#top-page{	
    width: 100%;
}

#topnav {
	
	width: 100%;
	background-color: #333333;
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#topnavleft{
	margin-left: 10px;
	/*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
	font-size: 125%;
}

#topnavleft li a {
	color: white;
}

#topnavleft li a:hover {
    text-decoration: none;
    color: black;
    background: white;
}

#topnavleft li a:active,
#topnavleft li a:focus {
    text-decoration: none;
    color: black;
    background: white;
}

/*#topnav.toggled #topnavleft  {
	padding-left: 310px;
}*/

.dropdown-toggle {
	margin-right: 15px;
}

.contentnav {
	background-color: #f2f2f2;
	padding-bottom: 0;
	margin-bottom: 0;
	border-radius: 0;
	border: none;
}

#menu-toggle {
	text-align: center;
	width: 50px;
	color: black;
	border: none;
	font-size: 150%;
}

#contentsubnav {
	padding-bottom: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: white;
	border-color: #f2f2f2;
}

#contentsubnav li a:hover {
    text-decoration: none;
    color: black;
    background: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
}

#contentsubnav li a:active,
#contentsubnav li a:focus {
    text-decoration: none;
    color: black;
    background: #f2f2f2;
	border-radius: 5px 5px 5px 5px;
}

.profilenav {
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: #bfbfbf;
	border: none;
	color: black;
	border-radius: 0 0 0 0;
}

#menu-toggle2 {
	margin-right: 30px;
	width: 50px;
	text-align: center;
	color: black;	
}

#profilepic1 {
	width: 80px;
	/*height: 80px;*/
}

#profilepic2 {
	width: 100%;
	/*height: 100%;*/
}

.panel {
	height: auto;
	border: none;
	background-color: #666666;	
	border-radius: 0 0 0 0;
}

#profilename {
	color: white;
}

.profilelinks {
	color: #d9d9d9;
}

#sidemenulinks {
	margin-top: 15px;
	margin-bottom: 15px;
}

#sidemenulinks li a {
	color: #d9d9d9;
}

#sidemenucustom {
	margin-top: 15px;
	margin-bottom: 15px;
}


.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #666666;
}


#helpicon {
	display: flex;
	font-size: 150%;
	width: 100%;
	height: 100%;
	padding: 0;
	color: black;
}

#changing-content {
	
}
#addCard {
	margin-top: 15px;
	padding-top: 10px;
	/*width: 250px;*/
	height: 150px;
	border: 3px solid #f2f2f2;
	border-radius: 5px 5px 0 0; 
	text-align: center;
}

.cardfooters {
	height: 35px;
	background-color: #f2f2f2;
	border-radius: 0 0 5px 5px; 
	margin-bottom: 10px;
	text-align: right;
	padding-right: 10px;
}

#help-content { 
	margin-top: 15px;
	margin-bottom: 15px;
	height: 400px;
}

.help1 {
	height: 400px;
	background-color: #666666;
}

.help2 {
	height: 400px;
	background-color: #f2f2f2;
}

/*CSS for creating new site window*/
#newSiteHeader {
	width: 100%;
	border-bottom: 2px solid gray;
}

.zone-list {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 30px;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

/* Drop down sort option */
#dropDownSort1 {
	padding-top: 2%;
	padding-bottom: 2%;
}


/*Edit profile form*/
#editprofile {
    padding: 10px;
    margin-top: 20px;

}


.dirModalH {
    text-align: center;
    background-color: white;
}

.dirModalC {
    background-color: white;
    border-radius: 0 0 0 0;
    border: 0;
}

#directoryTopNavBar {
    padding-bottom: 0;
    margin-bottom: 0;
}

.pageDisplayDropDown {
    margin-left: 20px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.editSteps {
    margin: 3px;
}

.editSteps:hover {
    
    background-color: yellow;
}

.st-selected {
background-color: red;
}


/* Used to highlight tags in addCatToShop section */
.selectTag {
    background-color: yellow;
    color: black;
}

.ignoreTag {
    background-color: grey;
    color: white;
}