<div class="container-fluid no-margin-padding" id="content-area">
    <div class="row no-margin-padding" id="content-area-nav">
        <a class="btn btn-default btn-lg pull-left" id="sidebarToggleBtn" ng-click="showSidebar = !showSidebar"><i class="fa fa-bars "></i></a>
    </div>
    <div class="row no-margin-padding" id="content-area-display">
        <div ng-switch on="displaySelection">
            <div ng-switch-when="Default">
                <home-directive></home-directive>
            </div>
            <div ng-switch-when="Experiments">
                <experiments-directive></experiments-directive>
            </div>
            <div ng-switch-when="Results">
                <results-directive></results-directive>
            </div>
            <!--<div ng-switch-when="AddCatToShop">
                <add-category-to-store-directive></add-category-to-store-directive>
            </div>-->
        </div>
    </div>
</div>