<!-- Navigation bar for the menu toggle -->
<nav class = "navbar navbar-inverse contentnav" role = "navigation">
	<ul class = "nav navbar-nav pull-left">
		<li>
			<a href="" ng-click="mainScreenToggle()"  id="menu-toggle" aria-hidden="true">
				<i class="fa fa-bars "></i>
			</a>
		</li>
		<li><span style="padding-left:40px"></span></li>
	</ul>

	<!--<ul class = "nav navbar-nav pull-right helpimg">
		<li><a href="" ng-click="showHelp()">
				<i class="fa fa-question-circle fa-1x" id="helpicon" aria-hidden="true"></i>
			</a>
		</li>
	</ul>-->
</nav>