<div class="container-fluid" id="side-bar">
    <div class="row no-margin-padding" id="sidebar-profile">
        <div class="col-md-5 no-margin-padding" id="picSection">
            <img class="img-thumbnail" id="profilepic1" src="../../img/DEWI-Logo.jpg" onError="this.src = './img/spinner.gif'" />
        </div>
    </div>
    <div class="row no-margin-padding" id="sidebar-menu-options">
        <h4>Kiosk CMS</h4>
        <hr />
        <a class="btn btn-block btn-default" ng-click="changedDispaySelection('Home');">Home</a>
        <a class="btn btn-block btn-default" ng-click="changedDispaySelection('Results');">Results</a>
        <a class="btn btn-block btn-default" ng-click="changedDispaySelection('Experiments');">Experiments</a>
        <hr />
    </div>
</div>