#body {
    
    margin: 0;
    padding: 0;
    position:relative;
    background-size: 100% 100%;
    background-image: url("../img/welcomeBG.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
#body.toggled {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333333;
}

#ngViewArea {
    height: 100%;
}

#loginPageContainer {   
}

#loginPageTableArea{
}


#loginTable {
    display: table-cell;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

#loginTableBody {
    color:white;
    background-color:rgba(0, 0, 0, 0.8);
    border: 3px solid gray;
    border-radius: 5px 5px 0 0;
}

#loginTableFooter { 
    height: 60px;
    border: 3px solid gray;
    border-radius: 0 0 5px 5px ;
    border-top: none;
}


/* Area below is styling for cookie banner on login page
    and for the cookie policy page
*/

#cookieArea {
    border-radius: 5px 5px 5px 5px;
    background-color: grey; 
    text-align: center; 
    color: white;
    padding-top: 5px;
    bottom:0;
}

#cookieBtn {
    border: 2px solid white;
    color: white;
    background-color: red;
    margin: 5px;
}

#cookieBtn:hover {
    border: 2px solid black;
    color: black;
}

#cookieterms {
    margin: 0;
    padding: 0;
    width: 100%;
}

#cookieHeader {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333333;
}

.loginBtn1 {
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: bottom;
}

#returnLoginBtn {
    margin: 2px;
    border: 3px solid grey;
    color: white;
    background-color: #333333;
}

#returnLoginBtn:hover {
    margin: 2px;
    border: 3px solid #333333;
    color: black;
    background-color: grey;
}

#cookieinfo {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 3px solid #333333;
    background-color: #333333;
}

#cookie-menu {
}

#cookie-nav-list {
    margin: 30px;
    border: 1px solid #555;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#cookie-nav-list li:last-child {
    border-bottom: none;
}

#cookie-nav-list li a {
    border-radius: 0 0 0 0;
    color:black;
    background-color: grey;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

#cookie-nav-list li a:hover {
    background-color: #333333;
    border-radius: 0 0 0 0;
    color:white;
    display: block;
    width: 100%;
    text-decoration: none;
}

#cookie-details {
    background-color: white;

}

#cookie-details-list {
    padding-right: 30px;
    margin-bottom: 30px;
}

